<% include ../partials/header %>

<div>
      <header class="jumbotron ">
           <div class="container">
               <h1><span><i class="fas fa-campground"></i></span>Welcome To CampSites!</h1>
               <p> View all of our Campgrounds from all the world</p>
               <p> <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground</a> </p>
               <p>
                   <form action="/campgrounds" method="GET" class="form-inline">
                       <div class="form-group">
                           <input type="text" name="search" placeholder="Campground Search...." class="form-control col-xs-3">
                           <input type="submit" value="Search" class="btn btn-default">
                       </div>
                   </form>
               </p>
           </div>
      </header>
  <!-- <div class="row">-->
  <!--     <div class="col-lg-12">-->
  <!--        <h3> Our Most Popular CampGround</h3>-->
        
  <!--     </div>-->
    
  <!--</div>-->

   <div class="row text-center " id="campground-grid">
       <div class="col-md-12 ">
           <% if(noMatch !== null) { %>
            <h3><%= noMatch %> </h3>
            <p>
                   <form action="/campgrounds" method="GET" class="form-inline">
                       <div class="form-group">
                           <input type="text" name="search" placeholder="Campground Search...." class="form-control col-md-2">
                           <input type="submit" value="Search" class="btn btn-default">
                       </div>
                   </form>
               </p>
           <% } %>
           
       </div>
       
       <!--<h2> <strong> Available Campgrounds </strong></h2>-->
    
                   <%   campgrounds.forEach(function(campground){ %>
              <div class="col-lg-3 col-md-4 col-sm-6 mb-4"> 
                <div class="card">
                  <img  class="card-img-top" alt="<%= campground.name %>" src=" <%= campground.image %>">
                   <div class="card-body">
                      <h4 class="card-title"> <%= campground.name %></h4>
                   </div>
                   <p class="mt-2">
                       <a href="/campgrounds/<%= campground._id %>" class="btn btn-sm btn-primary">More Info </a>
                   </p>
                </div>
              </div>
     
              <% }); %>
    
  </div>
    
</div>





<% include ../partials/footer %>
